html,
body {
  font-family: "Roboto", sans-serif;
  color: #333;
}

a {
  color: dodgerblue;

  &.router-link-active {
    color: seagreen;
  }
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: auto;
}

.page {
  padding-top: 15px;

  &__title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
  }
}
